

  nav {
    top: 0;
    left: 0;
    display: flex;
    background: white;
    padding: 1% 2%;
    justify-content: space-between;
    border-bottom: 1px solid #282828;
  }
  
  .nav-title {
    margin-left: 10px;
    font-size: 20px;
  }

  div.nav-title a {
    color: #282828;
    font-weight: 800;
  }
  
  nav ul {
    list-style: none;
    position: absolute;
    right: 5px;
    top: -15px;
    padding: 1%;
  }
  
  nav ul li {
    display: inline;
    font-size: 14px;
    border: 1px solid white;
    padding: 5px;
  }
  
  nav ul.nav-menu li a {
      text-decoration: none;
      color: #282828;
  }

  li:hover {
      cursor: pointer;
      background-color: #282828;
      color: white;
    }

  nav ul.nav-menu li:hover > a {
      text-decoration: none;
      color: inherit;
  }


  .nav-menu-item {
      margin: 2px;
  }