  
  section {
    padding: 0px 15px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
  }

  .video-cover-photo {
    background-color: white;
    margin-bottom: -6px;
  }
  
  .video-thumbnail-img {
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

  .video-title {
    text-align: left;
    padding: 0.5em;
    font-weight: 800;
    margin: 0;
    background-color: yellow;
    color: black;
  }


  .video-card {
    margin: 40px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
  }

  .video-card-info-conatiner {
    margin: 0.5em;
    text-align: left;
  }

  .video-card-info-container-expand {
    font-size: 14px;
    text-align: left;
    padding: 0.8em;
  }
  
  div.video-card-info-second-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
  }

  div.video-card-info-functions {
    margin: 0 5px;
    display: flex;
    font-size: 14px;
  }

  div.video-card-info-functions > a {
      text-decoration: underline;
      font-size: 14px;
      padding: 0 0.5em;
  }

  div.video-card-info-functions > a:hover {
    background-color: #282828;
    color: white;
} 

@media only screen and (min-width: 768px){
    .video-container {
      display: flex;
      flex-flow: column;
      width: 50%;
      padding: 0.8em;
      align-items: stretch;
      flex-direction: column;
    }

    .video-card {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
    }

    .video-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .video-title {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (min-width: 1200px){
    .video-container {
      width: 33%;
    }
  }
  